extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Recuperaci칩n de Contrase침a
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Ingresa tu correo electronico y te enviaremos instrucciones para que recuperes tu contrase침a.
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Recuperar Contrase침a
