extends ../layout

block content
  .section(style="padding: 50px 0 80px")
    .container
      h3.text-center(style="margin: 0 0 50px") Iniciar Sesion
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Contraseña
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Contraseña', required)
        .form-group
          .col-sm-offset-3.col-sm-7
            button.col-sm-3.btn.btn-primary(type='submit')
              i.fa.fa-user
              | Ingresar
            a.btn.btn-link(href='/forgot') Olvidaste tu Contraseña?
        .form-group
          .col-sm-offset-3.col-sm-7
            hr
        //- .form-group
        //-   .col-sm-offset-3.col-sm-3
        //-     a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        //-       i.fa.fa-facebook
        //-       | Sign in with Facebook
        //-     a.btn.btn-block.btn-google.btn-social(href='/auth/google')
        //-       i.fa.fa-google-plus
        //-       | Sign in with Google
