footer.footer
  .section(style="padding: 30px 0 20px; border-top: 1px solid #eaeaea")
    .container
      .row
        .col-sm-6.col-md-3
          ul
            li
              a(href="/") Inicio
            li
              a(href="/videos") Videos
            li
              a(href="/signup") Ingresa
            li
              a(href="/contacto") Contacto
        .col-sm-6.col-md-3
          p
            strong Contacto:
          ul
            li
              a(href="mailto:contact@tuprofesorvirtual.com") contact@tuprofesorvirtual.com
        .col-sm-6.col-md-3
          p
            strong Soporte
          p 123@bennu.studio
          p
            strong Contribuye
          p job@tuprofesorvirtual.com
        .col-sm-6.col-md-3
          ul.social-media
            li
              a.facebook(href='https://www.facebook.com/tuprofesorvirtualpag' target='_blank')
                i.fa.fa-facebook
            li
              a.twitter(href='https://www.twitter.com/tuprofevirtual' target='_blank')
                i.fa.fa-twitter
            li
              a.instagram(href='https://www.instagram.com/tuprofesorvirtual' target='_blank')
                i.fa.fa-instagram
            li
              a.youtube(href='https://www.youtube.com/user/TuProfesorVirtual' target='_blank')
                i.fa.fa-youtube

  .section(style="padding: 20px 0; border-top: 1px solid #eaeaea")
    .container
      | © 2016 TuProfesionalVirtual, CA. Todos los derechos reservados.
