MONGODB_URI=mongodb://tpv:vamoacalmarno@ds011291.mlab.com:11291/tpv
MONGOLAB_URI=mongodb://tpv:vamoacalmarno@ds011291.mlab.com:11291/tpv

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=tuprofesorvirtual
SENDGRID_PASSWORD=tuprofesorvirtual24h

FACEBOOK_ID=1103397306411423
FACEBOOK_SECRET=bd87e7eaf426a72d55648a2fb1322da7

GOOGLE_ID=79995701147-jppjhs101jm8ira91eq066e4m8vcvasd.apps.googleusercontent.com
GOOGLE_SECRET=hNY_ppMsTdp7p5uaYoXHWUyp


PAYPAL_ID=AdGE8hDyixVoHmbhASqAThfbBcrbcgiJPBwlAM7u7Kfq3YU-iPGc6BXaTppt
PAYPAL_SECRET=EPN0WxB5PaRaumTB1ZpCuuTqLqIlF6_EWUcAbZV99Eu86YeNBVm9KVsw_Ez5
PAYPAL_RETURN_URL=http://localhost:3000/api/paypal/success
PAYPAL_CANCEL_URL=http://localhost:3000/api/paypal/cancel
