lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

#DB mockups
fisica1.json
fisica2.json
matematica1.json
matematica2.json
quimica-general.json
quimica-organica.json
quimica-inorganica.json
