extends layout

block content

  .jumbotron
    .container
      .jumbotron_content
        .row
          .col-xs-6.text-center
              img.img-responsive(src='logo.png' style="margin: 0 0 20px")
          .col-xs-12.col-md-6
            .form-container
              form(method="GET", action="/search")
                input.form-control(type='text' name='search' placeholder='Buscar materias, temas, ejercicios, videos..')

  .section(style="margin: 100px 0")
    .container
      h2.text-center Matemática, Física y Química, te la ponemos fácil!
      p.lead.text-center Aprovecha nuestra semana introductoria, donde podrás ver contenido gratuito de todas nuestras materias.
  .section(style="margin: 100px 0")
    .container
      .row
        .col-md-4
          h2 Matematica
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-md-4
          h2 Fisica
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .col-sm-4
          h2 Quimica
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

  .section(style="margin: 100px 0")
    .container
      .row
        .col-sm-6.col-sm-offset-3.text-center
              h2 Ayudanos a ser todo lo que necesitas respondiendo esta encuesta
              button.btn-lg.btn-success(type="submit") Responder
