extends layout

block content
  .row
    .col-sm-6(style='float: none; margin: 0 auto;')
        img(class='img-responsive' src='logo.png')
        p.lead.text-center Tu solución para aprender online.

  .jumbotron
    .form-group
      form(method="GET", action="/search")
        input.input-lg.form-control(type='text' name='search' placeholder='Buscar materias, temas, ejercicios, videos..')

  .form-group
    .col-sm-offset-3.col-sm-7
      hr

  .row
    .col-sm-6.text-center(style='float: none; margin: 0 auto;')
      h2 Ayudanos a ser todo lo que necesitas respondiendo esta encuesta
      button.btn-lg.btn-success(type="submit") Responder

  .form-group
    .col-sm-offset-3.col-sm-7
      hr

  .row
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
