extends layout

block content
  if cantidadDeResultados
    h1 Encontramos #{cantidadDeResultados} resultados para: #{searchTerm}
  else
  .section(style="padding: 50px 0 80px")
    .container
      h3 No hemos encontrado resultados para: #{searchTerm}
      p Revisar de nuevo en unos momentos, siempre estamos subiendo contenido nuevo.

  for i in results
    p #{i.title}
