extends ../layout

block content

    .section.text-center(style="padding: 100px 0; color: #fff; background-color:#" + color)
      .container
        h2(style="margin: 0; font-size: 50px") #{blockName}
    //- .section(style="padding: 80px 0 0")
    //-   .container
    //-     p Están los Enteros, Racionales, Irracionales, con decimales reguales...

    .section(style="padding: 50px 0")
      .container
        ul.tema-list

          for tema in temas
            li.tema-list_tema
              h3
                i.fa.fa-book
                | #{tema.theme}

              for video in dbVideos
                if video.theme == tema.theme
                  ul.video-list
                    li.video-list_video
                      a(href="/videos/ver?title="+video.title+"&bloque="+video.block+"&link="+video.link) #{video.title}
