extends layout

  //- Este query va a devolver los ultimos 10 videos de cada materia
  //- en un documento separado para cada una.
  //- la estructura del mismo es:
  //- var Matematica: [{
    id,
    titulo,
    duracion,
    materia,
    tema
  //- }...];

block content
  .page-header
    h3 Matematica

  for

  .page-header
    h3 Fisica

  .page-header
    h3 Quimica
