extends ../layout

block content
  .section(style="margin: 50px 0")
    .container
      h2 Materias
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .section(style="margin: 50px 0")
    .container
      .row
        .col-sm-6.col-md-4
          .bloque
            .bloque_top
              .bloque_top_materia
                a(href="#0") Matematica
            .bloque_content
              h3.bloque_content_title
                a(href="#0") Numeros enteros
              p.bloque_content_desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...
            .bloque_bottom.clearfix
              span.bloque_number-of-videos
                | 6 videos
              span.bloque_total-duration
                | 2 horas





  //- ul
  //-   for book in books
  //-     li= book.name

//- titulo
//- descripcion
//- color
//- numero de videos
//- duracion total de videos
//- materia
