extends ../layout

block content
  .page-header
    //- h1 #{video.titulo}
    //- p  #{video.theme}
    //- p.lead #{video.subject}
    h1 titulo
    p  tema
    p.lead materia

  .container
    iframe(width='100%', height='500', src="https://www.youtube.com/watch?v=ygd4DVijung", frameborder='0', allowfullscreen='allowfullscreen')
    //- if videoServer = 'youtube'
    //-   iframe(width='100%', height='500', src=""+url+"?autoplay=1", frameborder='0', allowfullscreen='allowfullscreen')
    //- else
    //-   div
    //-   iframe(width='100%', height='500', src=url, frameborder='0', allowfullscreen='allowfullscreen')
