extends ../layout

block content
  .section(style="padding: 50px 0")
    .container
      h2 #{video.title}
      p
        a(href="#0")
          i.fa.fa-long-arrow-left
          | #{video.theme}

  .section
    .container(style="padding-bottom: 80px")
      iframe(width='100%', height='500', src="" + video.link, frameborder='0', allowfullscreen='allowfullscreen')
